[Unit]
Description=edgecore

[Service]
User=root
EnvironmentFile=
WorkingDirectory=/etc/kubeedge/
ExecStart=/usr/local/bin/edgecore --config edgecore.yaml
ExecReload=
Restart=on-failure
RestartSec=10
SuccessExitStatus=0

[Install]
WantedBy=multi-user.target